---
- name: Authserver ldap
  pfsensible.core.pfsense_authserver_ldap:
    name: "{{ pfsense_authserver_ldap.name | default(omit) }}"
    host: "{{ pfsense_authserver_ldap.host | default(omit) }}"
    port: "{{ pfsense_authserver_ldap.port | default(omit) }}"
    transport: "{{ pfsense_authserver_ldap.transport | default(omit) }}"
    ca: "{{ pfsense_authserver_ldap.ca | default(omit) }}"
    protver: "{{ pfsense_authserver_ldap.protver | default(omit) }}"
    timeout: "{{ pfsense_authserver_ldap.timeout | default(omit) }}"
    scope: "{{ pfsense_authserver_ldap.scope | default(omit) }}"
    authcn: "{{ pfsense_authserver_ldap.authcn | default(omit) }}"
    basedn: "{{ pfsense_authserver_ldap.basedn | default(omit) }}"
    extended_enabled: "{{ pfsense_authserver_ldap.extended_enabled | default(omit) }}"
    extended_query: "{{ pfsense_authserver_ldap.extended_query | default(omit) }}"
    binddn: "{{ pfsense_authserver_ldap.binddn | default(omit) }}"
    bindpw: "{{ pfsense_authserver_ldap.bindpw | default(omit) }}"
    attr_user: "{{ pfsense_authserver_ldap.attr_user | default(omit) }}"
    attr_group: "{{ pfsense_authserver_ldap.attr_group | default(omit) }}"
    attr_member: "{{ pfsense_authserver_ldap.attr_member | default(omit) }}"
    attr_groupobj: "{{ pfsense_authserver_ldap.attr_groupobj | default(omit) }}"
    ldap_rfc2307: "{{ pfsense_authserver_ldap.ldap_rfc2307 | default(omit) }}"
    ldap_utf8: "{{ pfsense_authserver_ldap.ldap_utf8 | default(omit) }}"
    ldap_allow_unauthenticated: "{{ pfsense_authserver_ldap.ldap_allow_unauthenticated | default(omit) }}"
    state: present
  when: pfsense_authserver_ldap | length > 0

