---
- name: Authserver ldap
  pfsensible.core.pfsense_authserver_ldap:
    name: "{{ pfsense_authserver_ldap.name }}"
    host: "{{ pfsense_authserver_ldap.host }}"
    port: "{{ pfsense_authserver_ldap.port }}"
    transport: "{{ pfsense_authserver_ldap.transport }}"
    ca: "{{ pfsense_authserver_ldap.ca }}"
    protver: "{{ pfsense_authserver_ldap.protver }}"
    timeout: "{{ pfsense_authserver_ldap.timeout }}"
    scope: "{{ pfsense_authserver_ldap.scope }}"
    authcn: "{{ pfsense_authserver_ldap.authcn }}"
    basedn: "{{ pfsense_authserver_ldap.basedn }}"
    extended_enabled: "{{ pfsense_authserver_ldap.extended_enabled }}"
    extended_query: "{{ pfsense_authserver_ldap.extended_query }}"
    binddn: "{{ pfsense_authserver_ldap.binddn }}"
    bindpw: "{{ pfsense_authserver_ldap.bindpw }}"
    attr_user: "{{ pfsense_authserver_ldap.attr_user }}"
    attr_group: "{{ pfsense_authserver_ldap.attr_group }}"
    attr_member: "{{ pfsense_authserver_ldap.attr_member }}"
    attr_groupobj: "{{ pfsense_authserver_ldap.attr_groupobj }}"
    ldap_rfc2307: "{{ pfsense_authserver_ldap.ldap_rfc2307 }}"
    ldap_utf8: "{{ pfsense_authserver_ldap.ldap_utf8 }}"
    ldap_allow_unauthenticated: "{{ pfsense_authserver_ldap.ldap_allow_unauthenticated }}"
    state: present
