---
- name: OpenVPN Server
  pfsensible.core.pfsense_openvpn_server:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    mode: "{{ item.mode }}"
    authmode: "{{ item.authmode }}"
    dev_mode: "{{ item.dev_mode }}"
    protocol: "{{ item.protocol }}"
    interface: "{{ item.interface }}"
    local_port: "{{ item.local_port }}"
    tls: "{{ item.tls }}"
    tls_type: "{{ item.tls_type }}"
    ca: "{{ item.ca }}"
    cert: "{{ item.cert }}"
    cert_depth: "{{ item.cert_depth }}"
    maxclients: "{{ item.maxclients }}"
    strictusercn: "{{ item.strictusercn }}"
    remote_cert_tls: "{{ item.remote_cert_tls }}"
    tunnel_network: "{{ item.tunnel_network }}"
    local_network: "{{ item.local_network }}"
    dynamic_ip: "{{ item.dynamic_ip }}"
    topology: "{{ item.topology }}"
    inactive_seconds: "{{ item.inactive_seconds }}"
    dns_domain: "{{ item.dns_domain }}"
    dns_server1: "{{ item.dns_server1 }}"
    custom_options: "{{ item.custom_options | default(omit) }}"
    exit_notify: "{{ item.exit_notify }}"
  loop: "{{ pfsense_openvpn_servers }}"
  loop_control:
    label: "{{ item.name }}"
