- name: Ensure scripts are executable
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
  with_items:
    - "{{ custom_iso_path }}/build.sh"
    - "{{ custom_iso_path }}/upload/proxmox.sh"
  delegate_to: localhost

- name: Run custom_iso/build.sh
  ansible.builtin.command: >
    {{ custom_iso_path }}/build.sh
    in="{{ build.in }}"
    out="{{ build.out }}"
    preseed="{{ build.preseed }}"
  args:
    chdir: "{{ custom_iso_path }}"
  delegate_to: localhost
  become: true
  changed_when: false

- name: Run custom_iso/upload/proxmox.sh
  ansible.builtin.command: >
    {{ custom_iso_path }}/upload/proxmox.sh
    url="{{ deploy.proxmox_host }}"
    nodes="{{ deploy.proxmox_nodes }}"
    iso="{{ build.out }}"
    token-id="{{ deploy.token_id }}"
    token-secret="{{ vault_proxmox_root_ansible }}"
  args:
    chdir: "{{ custom_iso_path }}"
  delegate_to: localhost
  changed_when: false

- name: Run custom_iso/clear.sh
  ansible.builtin.command: >
    {{ custom_iso_path }}/clear.sh
  delegate_to: localhost
  changed_when: false
