{% set ip_80_443 = caddy_listen_ip_80_443 | default('0.0.0.0') %}
{% set ip_2019 = caddy_listen_ip_2019 | default('0.0.0.0') %}

{% set networks = backend[inventory_hostname] | selectattr('network', 'defined') | list %}
{% set volumes = backend[inventory_hostname] | selectattr('volume', 'defined') | list %}
{% set environments = backend[inventory_hostname] | selectattr('environment', 'defined') | list %}

services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - /var/log/caddy:/var/log/caddy
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
{% if caddy_copy_certs | default(false) | bool %}
      - ./certs/:/data/caddy/pki/authorities/local/
{% endif %}
{% for item in volumes %}
      - {{ item.volume }}
{% endfor %}
{% if environments | length > 0 %}
    environment:
{% for item in environments %}
{% for env in item.environment %}
      - {{ env }}
{% endfor %}
{% endfor %}
{% endif %}
    ports:
      - "{{ ip_80_443 }}:80:80"
      - "{{ ip_80_443 }}:443:443"
      - "{{ ip_2019 }}:2019:2019"
{% if networks | length > 0 %}
    networks:
{% for item in networks %}
      {{ item.network }}:
{% endfor %}
{% endif %}

{% if networks | length > 0 %}
networks:
{% for item in networks %}
  {{ item.network }}:
    external: true
{% endfor %}
{% endif %}

volumes:
  caddy-data:
    name: caddy-data
  caddy-config:
    name: caddy-config